
@font-face {
  font-family: 'iconfont';  /* project id 909428 */
  src: url('//at.alicdn.com/t/font_909428_rwpvgwsopsb.eot');
  src: url('//at.alicdn.com/t/font_909428_rwpvgwsopsb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_909428_rwpvgwsopsb.woff') format('woff'),
  url('//at.alicdn.com/t/font_909428_rwpvgwsopsb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_909428_rwpvgwsopsb.svg#iconfont') format('svg');
}

.van-icon {
  font-family: 'vant-icon', 'iconfont' !important;
}

.van-icon-fanhui1:before { content: "\e603"; }

.van-icon-fanhui2:before { content: "\e604"; }

.van-icon-listpress:before { content: "\e608"; }

.van-icon-1:before { content: "\e77c"; }

.van-icon-yanjing:before { content: "\e649"; }

.van-icon-zhankai:before { content: "\e609"; }

.van-icon-shouqi:before { content: "\e61a"; }

.van-icon-yonghu:before { content: "\e8a7"; }

.van-icon-guanbi:before { content: "\e613"; }

.van-icon-fenlei:before { content: "\e60c"; }

.van-icon-shuju:before { content: "\e65a"; }

.van-icon-naozhong:before { content: "\e60a"; }

.van-icon-quan:before { content: "\e699"; }

.van-icon-dianpu:before { content: "\e605"; }

.van-icon-lunbotuzujian1:before { content: "\e69c"; }

.van-icon-jia:before { content: "\e6b3"; }

.van-icon-yanzhengma:before { content: "\e616"; }

.van-icon-ziliao:before { content: "\e62b"; }

.van-icon-sousuo:before { content: "\e653"; }

.van-icon-yuechi:before { content: "\e606"; }

.van-icon-liulan:before { content: "\e61b"; }

.van-icon-wode:before { content: "\e600"; }

.van-icon-shouji:before { content: "\e623"; }

.van-icon-yg-shujia:before { content: "\e607"; }

.van-icon-youjian:before { content: "\e62c"; }

.van-icon-zanwushuju:before { content: "\e657"; }

.van-icon-tubiao:before { content: "\e617"; }

.van-icon-shujia:before { content: "\e618"; }

.van-icon-wodeshoucang:before { content: "\e601"; }

.van-icon-yuyin:before { content: "\e718"; }

.van-icon-mima:before { content: "\e614"; }

.van-icon-shuji:before { content: "\e610"; }

.van-icon-bangdingshouji:before { content: "\e679"; }

.van-icon-chakan:before { content: "\e750"; }

.van-icon-tubiao1:before { content: "\e670"; }

.van-icon-arrow-right:before { content: "\e645"; }

.van-icon-yemian-copy:before { content: "\e602"; }

.van-icon-fenxiang:before { content: "\e6cd"; }

.van-icon-bangdingshibai:before { content: "\e67e"; }

.van-icon-myfavorite:before { content: "\e713"; }
