html{
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}
body{
	width: 100%;
	height: 100%;
	font-family: 'PingFang SC', Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, Arial, sans-serif;
   	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-align: center;
  	line-height: 1;
    background-color: #f2f2f2;
    box-sizing: border-box;
}
ul,li,ol,dl,dt,dd{margin: 0; padding: 0; list-style: none;}
h3,p{margin: 0; padding: 0;}
input::-webkit-input-placeholder{color: #ccc;}
#app{
	width: 100%;
	height: 100%;
}

/*reset*/
.van-button--cyan{
	background: #2BB89A; 
	border: 0;
	color: #fff;
	font-size: 1rem!important;
}
.van-button--plain{
	background: #fff;
}
.van-button--cyan.van-button--plain{
	border:0.01rem #2BB89A solid !important;
	color: #2BB89A;
}
.van-button--cyan_light{
	background: #ecf5f2; 
	border: 0;
}
.van-button--gray{
	background: #8F8E8E; 
	border: 0;
	color: #fff;
	font-size: 1rem!important;
}
.van-checkbox__icon--checked .van-icon{
	border-color: #ffffff !important;
    background-color: #2BB89A !important;
}


.van-tabs .van-tabs__line{
	background-color:#2bb89a;
}
.van-tabs__nav{
	justify-content: flex-start;
}
.van-tabs .van-tab{
	flex:auto !important;
	font-size: 0.95rem !important;
	min-width: auto !important;
	padding: 0 0.5rem !important;
}
.van-tabs .van-tab--active{
	font-size:1rem !important;
	color: #1a1a1a;
	font-weight: bold;
}
.van-tabs .van-tab .van-ellipsis{
}

#nprogress .bar{
	background: #39B799
}

.mt7{margin-top: 0.7rem;}

.floatIcon{
	position:fixed;
	bottom: 2rem;
	right: 1rem;
	width: 3.5rem;
	height:3.5rem;
	overflow: hidden;
	line-height:4.2rem;
	background: #fff;
	border-radius: 100%;
	box-shadow:0 0 2rem rgba(0,0,0,0.2);
}
.floatIcon i{
	font-size:2rem;
	color: #2BB89A;
}
/*footbar*/
.footbar .van-tabbar-item{
	font-size: 0.75rem;
}
.footbar .van-tabbar-item__icon{
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}
.footbar .van-tabbar-item{color: #999;}
.footbar .van-tabbar-item--active{color:#2BB89A;}

/*bookItem*/
.bookItem {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0.5rem 0 0.8rem 0;
	text-align: left;
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
	color: #333;
}
	
.bookItem  .list_l {
	width:25%;
}
	
.bookItem .list_l img {
	width: 100%;
	display: block;
	border-radius: 0.1rem;
}

.bookItem .list_r {
	width: 71%;
}

.bookItem .list_r h3 {
	height: 2rem;
	line-height: 1.5rem;
	overflow: hidden;
	font-size: 1.1rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #3b3b3b;
}
	
.bookItem .list_r p {
	line-height: 1.2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 0.9rem;
	color: #919191;
	margin: 0.3rem 0 1.2rem 0;
}
	
.bookItem .list_r span {
	color: #919191;
	font-size: 0.9rem;
}
.bookItem .list_r em {
	float: right;
	font-style: normal;
	color: #919191;
	font-size: 0.9rem;
}
.bookItem .list_r em .van-icon{
	color: #aaa;
}

/*uploadBox*/
.uploadBox{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.uploadBox dt,.uploadBox dd{
	width:5rem;
	height: 5rem;
	text-align: center;
	margin:0 5% 1rem 0;
	position: relative;
	border-radius: 0.5rem;
	border:0.05rem #DCDDDF solid;
}
.uploadBox dt .van-uploader{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-top: 0.6rem;
}
.uploadBox dt  .van-icon{
	font-size:3rem;
	color: #cccccc;
}
.uploadBox dt img, .uploadBox dd img{
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 0.5rem;
}
.uploadBox dd .van-icon{
	position: absolute;
	right: -0.5rem;
	top: -0.5rem;
	z-index: 10;
	width:1.5rem;
	height:1.5rem;
	line-height: 1.5rem;
	background: #2BB89A;
	border:0.05rem #ffffff solid;
	border-radius: 100%;
	color: #fff;
	font-size: 0.8rem;
}
.router-slid-enter-active, .router-slid-leave-active {
  transition: all .4s;
}
.router-slid-enter, .router-slid-leave-active {
  transform: translate3d(2rem, 0, 0);
  opacity: 0;
}

/*页面切换动画*/
.floatPage{
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	overflow-x:hidden;
  	overflow-y:auto;
 	background-color: #f7f7f7;
}